[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "==3.1.2"
tweepy = "==3.10.0"
numpy = "==1.20.1"
flask = "==1.1.2"
flask-sqlalchemy = "==2.5.1"
scikit-learn = "==1.0"
gunicorn = "==20.1.0"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz"}
psycopg2 = "*"
psycopg2-binary = "*"
nltk = "*"
pyresparser = "*"
corpora = "*"

[dev-packages]

[requires]
python_version = "3.9"
